<div class="development">
  developer info: <br />
  current_user: <%= @user.email  %>
</div>

<%= form_for @stockitem, url: {action: "create"} do |b| %>
    Selling: <br />
    sell price:<%= b.text_field :sell_price %>
    <div class="form-actions">
        <%= b.submit "Next", class: 'knop-1' %>
    </div>
<% end %>
